.result {
    margin-top: 120px;
    position: relative;
    margin-bottom: 200px;
}
.collage img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    
}
.collage img:last-child {
    position: relative;
    top: 100px;
    left: 140px;
    width: 70%;
}
.easy__point {
margin-left: 20px;
padding-top: 60px;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 14px;
line-height: 24/14*100%;
color:$j_black;
font-weight: 500;
}
.easy__point__first {
    background: url('../img/icon100.svg') no-repeat left center;
    padding-left: 70px;
    height: 54px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.easy__point__second {
    background: url('../img/bag.svg') no-repeat left center;
    padding-left: 70px;
    height: 54px;
    display: flex;
    align-items: center;
   
}